@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

/*font-family: "Bebas Neue", sans-serif;*/

*{           /*lo que pasa es que por default algunas cosas vienen ya hechas entonces este asterisco es para quitar eso mismo... lo que viene por defecto (es para resetear el .css)*/
    margin: 0;
    cursor:default;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;/*es para quitar las líneas de los enlaces*/
    list-style: none; /*es para quitar las bolitas de los enlaces*/
}          /*Este tipo de diseño es conocido como Desktop First (todo se acomoda al tamaño de la pantalla / responsive)*/

body {
    font-family: "Poppins", sans-serif;
    background-color: #1f1f1f;        
}

.container { 
    max-width: 1200px; /*es para que el contenido se centre y no se salga de los 1200px*/ 
    margin: 0 auto;
}
h1 {
    background-image: repeating-linear-gradient(
        105deg,
        #f7f467 6%,
        #221704 1%,
        #fdc305 9%
    );
    color: #f8cc3b;
    filter: drop-shadow(6px 10px #000000);
    transform: scaleY(1.05);
    position: relative;
    font-weight: 1200;
    font-size: 7em;
    letter-spacing: 8px;
    -webkit-text-stroke: 8px transparent;
    -webkit-background-clip: text;
    margin-top: -100px;
}

.header {
    background-image: url(images/Fotobannerweb.jpg);
    background-position: center top;
    background-repeat: no-repeat; /*es para que la imagen no se repita*/
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center; /*es para que el contenido se centre*/
}

.menu {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; /*con esto el menú se va a posicionar delante de cualquier elemento*/    
}
/*
.logo {
    font-size: 24px; /*tamaño de letra*/ /*
    color: #cfc42d; 
    font-weight: 100;
    text-transform: uppercase; /*esto se usa para transformar a mayúscula
}*/


.menu .navbar ul li {
    position: relative; /*para que los enlaces se acomoden a la izquierda*/
    float: left; 
}

.menu .navbar ul li a {
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    color: #faec73;
    display: block;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1.5);
}

.menu .navbar ul li a:hover {
    color: #fcfbe9;
}

#menu {
    display: none;
}

.menu-icono {
    width: 15px;    
}

.menu label {
    cursor: pointer; /*para que aparezca una manito cuando pase por encima del ícono*/
    display: none; /*desaparece el ícono*/
}

.header-txt {
    text-align: center;
    margin-bottom: 1pxs; /*es una separación hacia abajo*/
    margin-top: 280px;
} 

.header-txt span, h3 {   /*esto se hace para no editar uno por uno... por eso se agrega el h1 span y h3*/
    font-size: 110px;
    letter-spacing: 5px; /*espacio de la letra*/
    /*text-transform: uppercase;*/
    font-family: "Bebas Neue", cursive;
    color: #fceb06;
    margin-bottom: 10px; /*para la separación hacia abajo*/  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5) 
}

.header-txt span {
    font-size: 55px;    
}

.header-txt p {  
    font-size: 30px;     
    font-weight: bold;
    letter-spacing: 3px;    
    color: #ffe600;
    padding: 1px 50px;
    margin: 25px 0; /*25px arriba y abajo y 0 izquierda y derecha*/
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1.5);
    border: 2px solid #ebb917;
    margin-top: 85px;
}



/*.btn-1:hover {
    background-color: #ffe81b; /*es el color del recuadro para cuando se pasa el cursor por encima*/
/*}
/*
.header-dir {
    display: flex;
    justify-content: space-between; /* para dejar una separación*//*
    text-align: center;
    margin-top: 20px;
}*/

/*.dir h3 {
    font-size: 25px;
}

.dir p {
    font-size: 20px;
    color: #ffffff;
    /*text-transform: uppercase; /*letras mayúsculas*/ 
    /*text-shadow: 2px 2px 3px black;*//*
}*/

.separador1 {
    border: none;
    height: 10px;
    /*background-color: #000000;*/
    margin: 10px 0;
}

.welcome {
    display: flex
}

.welcome-1 {
    background-image: url(images/tresgheeplatosredondo.png);    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55%;
    width: 25%;
    top: 1;
    left: 0;
    position: absolute;
    margin-top: -25px;
}

.welcome-2 {
    width: 100%;
    padding: 50px 220px 90px 480px;
    background-image: url(images/fogatafondo.JPG);
}

h2 {
    font-size: 50px;
    line-height: 100px;
    color: #fae900;    
    font-family: "Bebas Neue", cursive;
    margin-bottom: 30px;    
}
h5 {
    font-size: 80px;
    line-height: 0.5px;
    color: #fae900;    
    font-family: s;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
}

.quienes-somos {
    font-size: 20px;
    color: #ffffff;
    margin: 20px 0;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1.5);
    margin-bottom: -20px;
    text-align: justify;
}

.b1 {
    font-size: 20px;
    color: #f1e9b9;
    margin-top: 30px;    
}

.separador2 {
    flex-grow: 1;
    border: none;
    border-top: 2px solid black;
    margin: 0 10px;
    height: 30px;
        
}


.imagen-mision {
    background-image: url(images/cajaconfrascosredondo.png);    
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
    width: 26%;
    top: 2;
    left: 210px;
    position: absolute;
    margin-top: 325px;
}
.imagen-vision {
    background-image: url(images/ghee_platicoredondo.png);    
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 47%;
    width: 40%;
    top: 2;
    left: 710px;
    position: absolute;
    margin-top: 10px;    
}


.mision-vision {        
    display: flex;
    background-image: url(images/bombillos_naranjas.jpg);
    width: 100%;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    padding: 1px 120px 80px 10px;
    min-height: 80vh;
    margin-bottom: 40px; 
}


.mision h6 {
    font-size: 30px;
    color: #f8fa72;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 85px;  
    margin-top: 50px;
}

.vision h6 {
    font-size: 30px;
    color: #f8fa72;    
    margin-top: 320px;
    margin-bottom: 10px; 
    text-align: right;
    margin-right: auto;
}
.mision-vision p {
    font-size: 20px;
    color: #ffef0d;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    font-weight: bold;    
}

.mision p {
    margin-left: 85px;
    text-align: justify;
}

.vision p {        
    text-align: justify;   
}

.services-container {
    margin-top: 40px;
    padding-top: 40px;
}

.services {    
    padding: 100px 0;
    text-align: center;    
}

.services-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fcde33;
    text-align: justify;
    margin: 10px 10px;
}

hr {
    border: 1px solid #ffe605;
    width: 200px;
}

.services-txt p {
    padding: 1px 1px;
    font-size: 18px;  
}

.services-group {    
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
    color: rgb(255, 217, 0);
}

.services-1 {
    background-color: #5a480d;
    padding: 35px 25px;
    margin: 20px;
    border-radius: 15px;   
    width: 90%;    
    line-height: 1.9;
    position: relative;
    align-items: center;
    text-align: center;        
}

.services-1 li{
    list-style-type: disc;
    margin-left: 20px;
    font-size: 18px;
    list-style-position: inside;
}

.services-1 ul ul {
    margin: 20px;
    list-style-type: circle;
    list-style-position: inside;
}
.services-1 img {
  position: absolute;
  top: -80px; /* Ajusta la posición vertical de la imagen para que esté más arriba del borde del cuadro */
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: auto; 
  border-radius: 50%;
  margin-top: 20px;
}

.services-1 h3 {
    font-size: 25px;
    color: #ffffff;
    margin-top: 160px;    
}


.prices {
    display: flex;
    color: #5f531d;
    margin-top: 10px;    
}

.prices-1 h2 {
    margin: 35px;
    color: #926b24;
    margin-bottom: -35px;
}

.prices-1 {
    width: 70%;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);    
    background-image: url(images/fondo_papel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;         
}

.prices-1 ul li {
    color: #6b6236;
    text-align: justify;
    font-size: 21px;
    list-style-type: disc;
    list-style-position: inside;
    margin: 45px;
}


.prices-1 ul ul {
    margin: 25px;  
    list-style-position: inside;  
}

.ima-prices-2 {
    width: 30%;
}

.imagen {
    width: 100%;    
    height: 50%;
    display: block;    
}


/*
table {
    margin: 50px 0; /*50 hacia arriba y 0 hacia abajo*/
    /*width: 100%; /*va al 100% para que tome todo el ancho del div*/
    /*text-align: left;
    border-collapse: collapse; /*para que no deje separaciones entre los bordes
}*/
/*
tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 20px;
}

th {
    color: #ffffff;
    padding-bottom: 15px;
}

td {
    color: #cf2d3a;
}*/



.personal {
    padding: 100px 0;
    text-align: center;   
}

.personal-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;     
}


.personal-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.personal-1 {
    text-align: center;    
}

.personal-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 25px;    
}

.personal-1 h3 {
    font-size: 22px;        
}

.personal-1 p {
    padding: 0 50px;
}

.personal-1 a {
    color: #cf2d3a;
}


.footer-bg {
    background-image: url(images/fotogheealfondococina.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 10;      
}

.footer-bg h2 {
    font-size: 35px;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px rgb(0, 0, 1.5);
    letter-spacing: 3px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding-bottom: 40px;
    margin-bottom: -20px;
}


.campo-1 {
    margin-bottom: 15px;
}

.campo {
    margin: 5px;
    padding: 20px 15px;
    width: 250px;
    background-color: #0e0e0e;
    border: 1px solid #ffee00;
    outline: none; /*para quitar la línea que aparece cada vez que seleccionamos el input*/
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
}

textarea {
    width: 520px !important;
}

.btn-1 {
    background-color: #ffe240;
    color: rgb(94, 82, 30);
    padding: 10px 20px;
    border-color: #221704;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    
}

.footer-txt {
    background-image: url(images/vela_esquina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 15px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.pa {    
    margin-top: 20px;
    font-size: 30px;
    color: #ffd000;
    text-align: center;    
}

.last {
    border: 1px solid #ffd000;
    width: 400px;
    height: 2px;
    margin: 20px auto;
    
}

.paa {    
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;    
}

.pb {    
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;    
}
.pc {    
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;    
}

.redes-sociales {
    position: fixed;
    top: 50%; /* Centra verticalmente los íconos */
    right: 20px; /* Ajusta la posición horizontal según tus necesidades */
    transform: translateY(-50%);
}
  
.redes-sociales a {
    display: block;
    margin-right: -5px;
    padding: 10px;
    border-radius: 50%; /* Para hacer un círculo */
    transition: background-color 0.3s; /* Transición suave */
}
  
.redes-sociales a.icono-facebook {
    background-color: #3b5998; /* Color de fondo para Facebook */
}
  
.redes-sociales a.icono-instagram {
    background-color: #e4405f; /* Color de fondo para Instagram */
}
  
.redes-sociales a.icono-twitter {
    background-color: #1da1f2; /* Color de fondo para Twitter */
}
  
.redes-sociales a.icono-youtube {
    background-color: #e25858; /* Color de fondo para YouTube */
}
  
.redes-sociales a:hover {
    background-color: #ffe600; /* Cambio de color de fondo al pasar el cursor */
}
  
.redes-sociales a i {
    font-size: 30px;
    color: #e0b90c; /* Color del ícono */
}

.fab.fa-whatsapp {
    display: block;
    margin-right: -5px;
    padding: 10px;
    border-radius: 50%; /* Para hacer un círculo */
    transition: background-color 0.3s; /* Transición suave */
  }

.fab.fa-whatsapp {
    position: fixed;
    top: 50%; /* Centra verticalmente los íconos */
    right: 20px; /* Ajusta la posición horizontal según tus necesidades */
    transform: translateY(-50%);
}


@media(max-width:768px) {
    body {
        margin: 0 auto;
    }
    .separador1 {
        display: none;
    }
    .separador2 {
        display: none;
    }
    .services-txt hr {
        display: none;
    }
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1f1f1f;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }


    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-txt {
        background-image: url(images/fotooficial.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;             
        padding: 10px 10px 10px 10px;
        
    }

    .header-content {
        margin: 0 auto;        
    }
    .span  {
        margin: 0 auto;
    }
    .container{
        margin: 0 auto;
    }


    .header-txt {
        margin-bottom: 15px;
        margin: 0 auto;
        
    }

    .header-txt h1 {
        font-size: 50px;
        margin: 0 auto;
        margin-top: 25px;
    }
    

    .header-txt p {
        padding: 0;
        font-size: 20px;
        text-shadow: 1px 1px 8px rgb(0, 0, 1.5);
        
    }
    .header span {
        font-size: 25px;
    }

    .header-dir {
        flex-direction: column;
    }
    .last {
        display: none;
    }

    .dir p {
        font-size: 18px;
        margin: 0 auto;
    }

    .welcome {
        flex-direction: column;        
    }

    .welcome-1 {
        display: none;        
    }

    .welcome-2 {
        width: 100%;
        padding: 30px;
        text-align: center;       
    }
    .welcome-2 h2 {
        font-size: 30px;  
        margin-bottom: 5px;      
    }
    .welcome-2 h5 {
        font-size: 25px;
    }

    .mision-vision {
        flex-direction: column;                       
    }
    .quienes-somos {
        font-size: 15px;
    }
    .mision h6 {
        margin-top: 95px;
        margin-bottom: -50px;
    }
    .vision h6 {
        margin-top: 115px;
        margin-bottom: 90px;
    }

    .mision p {
        width: 100%;
        font-size: 15px;
        text-align: justify;
        margin-right: 10px;
        margin-left: 15px;
        margin-bottom: -50px;
        margin-top: 150px;
        position: relative;
        z-index: 2;
        
        
        
    }
    .vision p {
        width: 100%;
        font-size: 15px;
        text-align: justify;
        margin-right: 10px;
        margin-left: 15px;
        margin-bottom: -50px;
        position: relative;
        z-index: 1;
        
    }

    .imagen-mision {
        display: none;
    }
    .imagen-vision {
        display: none;
    }
    .services-txt {
        flex-direction: column;
        text-align: center;
        padding: 10%;
    }


    h2 {
        font-size: 70px;
        line-height: 80px;        
    }

    h5 {
        font-size: 70px;
        line-height: 80px;
    }

    p {
        margin: 0 auto;        
    }

    .services {
        padding: 30px;
    }
    .services-txt h2 {
        font-size: 25px;
        margin-top: -80px;
    }

    .services-txt p {
        padding: 0;
        font-size: 15px;
    }

    .services-container {
        flex-direction: column;
        margin: 0 auto;
        padding: 50px 50px;
        text-align: center;
    }
    .services-group {
        flex-direction: column;
        width: 100%;
        padding: auto;
        text-align: center;
                     
    }

    .services-1 {
        margin: 0 auto;                
    }
    .services-1 ul li{
        list-style-position: inside;
    }


    .services-1 h3 {
        position: relative;
        margin-top: 65px;
        margin-bottom: 20px;
        font-size: 22px;
        z-index: 2;
    }
    .services-1 ul li {
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: center;
        margin-left: -5px;
    }

    .prices {
        width: 100%;
        flex-direction: column;  
        margin: 0 auto;      
    }

    .prices-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
        
    }
    .prices-1 h2 {
        margin: 0 auto;
        font-size: 30px;
        line-height: 35px;
    }
    .prices-1 ul li {
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .prices-1 ul ul {
        margin-right: -2px;
    }
    
    .ima-prices-2 {
        display: none;
    }

    table {
        margin: 25px 0 0 0;
    }

    .prices-2 {
        display: none;
    }

    .personal {
        padding: 30px;        
    }

    .personal-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .personal-1 {
        margin-bottom: 25px;
    }


    .footer-bg {
        padding: 30px;
    }

    textarea {
        width: 250px !important;
    }
    
    .footer-txt {
        width: 100%;
        margin: 0 auto;
    }
    .redes-sociales {
       margin-right: 10px;
    }



}